
h2 {
  background-color: black;
  color: white;
  font-style: "Futura", "sans-serif";
}


h3 {
  background-color: black;
  color: white;
  font-style: "Futura", "sans-serif";
}

h4 {
  background-color: black;
  color: white;
  font-style: "Futura", "sans-serif";
}




